In [1]:
import pandas as pd

In [5]:
df = pd.read_csv('../data/motions_laws/nwu_docket_entries.csv')

In [6]:
df.head()

,legacyid,date,number,description
0,IL-CDCT1:15CV01001,03/10/2015,4.0,NOTICE of Appearance of Attorney by Joseph S T...
1,IL-CDCT1:15CV01001,04/23/2015,9.0,NOTICE of Appearance of Attorney by Christophe...
2,IL-CDCT1:15CV01001,01/04/2016,11.0,Joint MOTION for Extension of Time to Complete...
3,IL-CDCT1:15CV01001,01/11/2016,NaN,TEXT ORDER granting <gil>11</gil> Motion for...
4,IL-CDCT1:15CV01001,04/22/2016,NaN,ORAL MOTION by Attorney Busey for continuance ...

In [7]:
motions = df.loc[df['description'].str.contains('MOTION')]
motions.head()

,legacyid,date,number,description
2,IL-CDCT1:15CV01001,01/04/2016,11.0,Joint MOTION for Extension of Time to Complete...
4,IL-CDCT1:15CV01001,04/22/2016,NaN,ORAL MOTION by Attorney Busey for continuance ...
7,IL-CDCT1:15CV01001,05/31/2016,12.0,Joint MOTION for Extension of Time to Complete...
8,IL-CDCT1:15CV01001,06/08/2016,14.0,First MOTION to Compel by Plaintiff Catherine ...
12,IL-CDCT1:15CV01001,01/20/2017,22.0,Consent MOTION for Extension of Time to Comple...

In [8]:
orders = df.loc[df['description'].str.contains('ORDER')]
orders.head()

,legacyid,date,number,description
3,IL-CDCT1:15CV01001,01/11/2016,NaN,TEXT ORDER granting <gil>11</gil> Motion for...
11,IL-CDCT1:15CV01001,08/26/2016,NaN,TEXT ORDER: The Court adopts the parties' join...
13,IL-CDCT1:15CV01001,01/23/2017,NaN,TEXT ORDER granting <gil>22</gil> Motion for...
18,IL-CDCT1:15CV01001,05/16/2017,NaN,TEXT ORDER entered by Judge Sara Darrow on May...
20,IL-CDCT1:15CV01001,09/01/2017,39.0,ORDER entered by Judge Sara Darrow on Septembe...

In [11]:
orders.to_csv('../data/motions_laws/orders.csv', index=False)

In [13]:
motions.to_csv('../data/motions_laws/motions.csv', index=False)

In [22]:
motions.loc[(motions['legacyid'] == 'IL-CDCT1:15CV01001') & (motions['number'] == 22)]

,legacyid,date,number,description
12,IL-CDCT1:15CV01001,01/20/2017,22.0,Consent MOTION for Extension of Time to Comple...

In [23]:
orders.head()

,legacyid,date,number,description
3,IL-CDCT1:15CV01001,01/11/2016,NaN,TEXT ORDER granting <gil>11</gil> Motion for...
11,IL-CDCT1:15CV01001,08/26/2016,NaN,TEXT ORDER: The Court adopts the parties' join...
13,IL-CDCT1:15CV01001,01/23/2017,NaN,TEXT ORDER granting <gil>22</gil> Motion for...
18,IL-CDCT1:15CV01001,05/16/2017,NaN,TEXT ORDER entered by Judge Sara Darrow on May...
20,IL-CDCT1:15CV01001,09/01/2017,39.0,ORDER entered by Judge Sara Darrow on Septembe...

In [25]:
orders.loc[orders['description'].str.contains('<gil>')]

,legacyid,date,number,description
3,IL-CDCT1:15CV01001,01/11/2016,NaN,TEXT ORDER granting <gil>11</gil> Motion for...
11,IL-CDCT1:15CV01001,08/26/2016,NaN,TEXT ORDER: The Court adopts the parties' join...
13,IL-CDCT1:15CV01001,01/23/2017,NaN,TEXT ORDER granting <gil>22</gil> Motion for...
18,IL-CDCT1:15CV01001,05/16/2017,NaN,TEXT ORDER entered by Judge Sara Darrow on May...
20,IL-CDCT1:15CV01001,09/01/2017,39.0,ORDER entered by Judge Sara Darrow on Septembe...
...,...,...,...,...
637614,WI-WDCT3:19CV01066,03/23/2020,33.0,** TEXT ONLY ORDER ** ORDER granting <gil>30<...
637616,WI-WDCT3:19CV01066,03/23/2020,35.0,** TEXT ONLY ORDER ** ORDER granting <gil>34<...
637617,WI-WDCT3:19CV01066,03/24/2020,36.0,** TEXT ONLY ORDER ** At the telephone confere...
637622,WI-WDCT3:19CV01066,05/06/2020,42.0,** TEXT ONLY ORDER ** The parties' request for...
637623,WI-WDCT3:19CV01066,05/11/2020,46.0,"** TEXT ONLY ORDER ** Stipulation accepted, ex..."

In [29]:
motions.loc[motions['description'].str.contains('')]

,legacyid,date,number,description
148237,IL-NDCT1:16CV02512,02/23/2016,19.0,MEMORANDUM AND ORDER/ORDER OF TRANSFER TO OTHE...
200180,IL-NDCT1:16CV10333,09/17/2018,72.0,ORDER: Final pretrial conference held. For the...
494259,IN-SDCT1:15CV00487,11/06/2015,33.0,ORDER ON DEFENDANTS' MOTION TO DISMISS. Plaint...
561697,IN-SDCT2:15CV00081,09/20/2016,56.0,ORDER ON PLAINTIFF'S MOTION TO EXCLUDE EXPERT ...
582087,WI-EDCT1:16CV00795,03/26/2019,55.0,FINDINGS OF FACT AND CONCLUSIONS OF LAW. The C...